{% load static %}
{% load utils %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>留言管理</title>
    <link rel="stylesheet" href="{% static '/public/css/ui.css' %}">
    <link rel="stylesheet" href="{% static '/public/admin/css/layout.css' %}">
    <script src="{% static '/public/js/jquery.js' %}"></script>
    <script src="{% static '/public/js/ui.js' %}"></script>
</head>
<body>
    <div class="position">当前位置：扩展管理 > <a href="{% url 'manager:book_index' %}">留言管理</a></div>
    <div class="border">
        <!---->
        <div class="navbar">
            <div class="lefter">
                
                <a href="javascript:;" class="ui-btn ui-btn-info ui-dropdown-show ui-mr-sm" data-target="#dropdown-1">批量操作</a>
                <div class="ui-dropdown" id="dropdown-1">
                    <li><a href="javascript:;" class="ui-dropdown-item btach" type="1">通过审核</a></li>
                    <li><a href="javascript:;" class="ui-dropdown-item btach" type="2">取消审核</a></li>
                    <div class="ui-dropdown-line"></div>
                    <li><a href="javascript:;" class="ui-dropdown-item btach" type="3">设为置顶</a></li>
                    <li><a href="javascript:;" class="ui-dropdown-item btach" type="4">取消置顶</a></li>
                    <div class="ui-dropdown-line"></div>
                    <li><a href="javascript:;" class="ui-dropdown-item btach" type="5">批量删除</a></li>
                </div>
                <span class="ui-btn-group ui-btn-group-yellow ui-btn-group-bg">
                    <a class="ui-btn-group-item{% if type == 0 %} active{% endif %}" href="manager/book/index/?type=0">全部</a>
                    <a class="ui-btn-group-item{% if type == 1 %} active{% endif %}" href="manager/book/index/?type=1">未审</a>
                    <a class="ui-btn-group-item{% if type == 2 %} active{% endif %}" href="manager/book/index/?type=2">已审</a>
                </span>
            </div>
            
            <div class="righter">
                <form action="manager/book/index/?type={{type}}">
                    <div class="ui-form-group">
                        <div class="ui-input-group">
                            <input type="text" name="keyword" class="ui-form-ip radius-right-none" value="{{keyword}}" placeholder="请输入关键字">
                            <button type="submit" class="after"><div class="ui-icon-search"></div></button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
        
        <form method="post" class="ui-form">
        <div class="ui-table-wrap">
        <table class="ui-table ui-table-border ui-table-hover ui-table-striped ui-mb">
            <thead class="ui-thead-gray">
                <tr>
                	<th width="30" height="30"><label class="ui-checkbox tips" data-align="right-top" data-title="全选/取消"><input type="checkbox" class="checkall" value=""><i></i></label></th>
                    <th width="80">ID</th>
                    <th>姓名</th>
                    <th width="130">电话</th>
                    <th width="130">手机</th>
                    <th width="130">提交日期</th>
                    <th width="100">是否回复</th>
                    <th width="100">置顶</th>
                    <th width="80">状态</th>
                    <th width="150">操作</th>
                </tr>
            </thead>
            <tbody>
            {% if not page_obj %}
            <tr>
                <td colspan="10">暂无资料</td>
            </tr>
            {% endif %}
            {% if page_obj %}
                {% for item in page_obj %}
                    <tr>
                        <td><label class="ui-checkbox"><input type="checkbox" name="id" value="{{item.id}}"><i></i></label></td>
                        <td>{{item.id}}</td>
                        <td class="ui-text-left">{{item.truename}}</td>
                        <td>{{item.tel}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.createdate}}</td>
                        <td>{% if item.reply %}已回复{% else %}<em>未回复</em>{% endif %}</td>
                        <td><label class="ui-switch ui-switch-info"><input type="checkbox" {% if item.ontop == 1 %} checked{% endif %} data-url="/manager/book/switchs?type=1&id={{item.id}}"><span class="ui-switch-checkbox ui-switch-text"></span></label></td>
                        <td><label class="ui-switch ui-switch-info"><input type="checkbox" {% if item.islock == 1 %} checked{% endif %} data-url="/manager/book/switchs?type=2&id={{item.id}}"><span class="ui-switch-checkbox ui-switch-text"></span></label></td>
                        <td><a href="javascript:;" data-url="{% url 'manager:book_edit' item.id %}" class="edit-iframe"><span class="ui-icon-edit"></span> 编辑</a>　<a href="javascript:;" class="del" data-url="/manager/book/del?id={{item.id}}"><span class="ui-icon-delete"></span> 删除</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
        {%if page_obj %}
            <div class="ui-page ui-page-center ui-page-info">
                <div class="ui-page-list">
                    <ul>
                        {% if page_obj.has_previous %}
                            <li><a href="?page=1">首页</a></li>
                            <li><a href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
                        {% endif %}
                        <li><a>{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a></li>
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">下一页</a></li>
                            <li><a href="?page={{ page_obj.paginator.num_pages }}">末页</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% csrf_token %}
        </form>
        <!---->
    </div>

<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
$(function()
{
	$(".edit-iframe").click(function()
	{
		var url=$(this).attr("data-url");
		$.dialogbox(
		{
			'title':"留言处理",
			'text':url,
			'width':'650px',
			'height':'400px',
			'type':3,
			'oktheme':'ui-btn-info',
			'ok':function(e)
			{
				e.iframe().contents().find("#wmcms-submit").click();
			}
		});
	});
	$('.ui-switch input[type=checkbox]').on('click',function()
	{
		var url=$(this).attr("data-url");
		var result=($(this).is(':checked'))?1:0;
		$.ajax(
		{
			url:url,
			type:"post",
			dataType:'json',
            headers: {'X-CSRFToken': csrftoken},
            mode: 'same-origin',
			data:"state="+result,
			error:function(e){alert(e.responseText);},
			success:function(d)
			{
				if(d.state=='success')
				{
					wmcms.success(d.msg);
				}
				else
				{
					wmcms.error(d.msg);
				}
			}
		});
	});
    $(".btach").click(function()
	{
		var type=$(this).attr("type");
		var data=[];
		$(".ui-form").find("input[type=checkbox]:checked").each(function()
		{
			if($(this).attr("class")!='checkall' && !$(this).closest("label").hasClass("ui-switch"))
			{
				data.push($(this).val());
			}
		});
        if(data.length==0)
        {
            wmcms.error('至少选择一条内容');
        }
        else
        {
            $.ajax(
			{
                type:'post',
                cache:false,
                dataType:'json',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                url:'/manager/book/btach',
                data:'id='+data.join(",")+'&type='+type,
                error:function(e){alert(e.responseText);},
                success:function(d)
				{
                    if(d.state=='success')
                    {
                        wmcms.success(d.msg);
                        setTimeout(function(){location.href='/manager/book/index/?type={{type}}';},1500);
                    }
                    else
                    {
                        wmcms.error(d.msg);
                    }
                }
            });
        }
    });
    $(".del").click(function()
	{
		var url=$(this).attr("data-url");
		$.dialog(
		{
			'title':"操作提示",
			'text':"确定要删除？不可恢复！",
			'oktheme':'ui-btn-info',
			'ok':function(e)
			{
				$.ajax(
				{
                    url:url,
					type:'post',
					dataType:'json',
					data:'token={$token}',
					error:function(e){alert(e.responseText);},
                    success:function(d)
                    {
                        e.close();
                        if(d.state=='success')
                        {
                            wmcms.success(d.msg);
                            setTimeout(function(){location.href='/manager/book/index/?type={{type}}';},1000);
                        }
                        else
                        {
                            wmcms.error(d.msg);
                        }
                    }
                });
			}
		});
    });
})
</script>
</body>
</html>